<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <!-- Incorporación de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <meta charset="UTF-8">

    <title>Lista MariaDB</title>
    <link rel="stylesheet" href="{% static 'css/lista_reservas.css' %}">

    <!-- Barra de Navegacion -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/bienvenido"> Inicio </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Accesos
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="/lista">Lista Reservas</a></li>
                <li><a class="dropdown-item" href="/formulario">Agregar Reserva</a></li>
                
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br>
  </head>
  <body id="body">
    <!-- Contenedor Global -->
    <div id="cnt_global" class="container">

      <h1 id="titulo" class="alert alert-info">Lista de Reservas</h1>
      <a href="/formulario">Nueva Reserva</a>
      <br>


      {%if reservas %}

      {% block javascript %}
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="{% static 'js/confirmar.js' %}"></script>
      {% endblock %}

      <div id="tabla">
        <br>
        <table class="table" >
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Telefono</th>
              <th>Fecha</th>
              <th>Hora</th>
              <th>Cantidad</th>
              <th>Observacion</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            {% for res in reservas %}
            <tr>
              <td scope="row">{{res.id}}</td>
              <td>{{ res.nombre }}</td>
              <td>{{ res.telefono }}</td>
              <td>{{ res.fecha }}</td>
              <td>{{ res.hora }}</td>
              <td>{{ res.cantidad }}</td>
              <td>{{ res.observacion }}</td>
              <td>
                <a href="#" onclick="confirmarEliminacion( '{{res.id}}' )" class="btn btn-danger btnEliminar"><img src="{% static 'img/X.png' %}" style="width:25px;height:25px;"></a>
                <a href="/actualizar_reserva/{{res.id}}" class="btn btn-warning"><img src="{% static 'img/editar.png' %}" style="width:25px;height:25px;"></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
            <div class="alert alert-warning">No hay Reservas</div>
        {% endif %}
      </div>
    </div>
  </body>
</html>