<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <!-- Incorporación de Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

        <meta charset="UTF-8">
        <title>¡Bienvenido!</title>
        
        <link rel="stylesheet" href="{% static 'css/template_inicial.css' %}">

        <!-- Barra de Navegacion -->
        <nav class="navbar navbar-expand-lg  bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" style="color: white;">Navbar scroll</a>
            </div>
        </nav>
        
    </head>

    <body id="body">
        
        <!-- Contenedor Global -->
        <div id="cnt_global" class="container">

            <div class="row g-3">
                <div id="cnt_imagen" class="col">
                    <div id="imagen"></div>
                </div>
                <br>
                <div id="cnt_opciones" class="col">
                    <div id="btn_ver_reservas" class="row">
                        <p id="p">Si quiere ver las reservas, haga click en "Ver Reservas"</p>
                        <a id="lista" class="btn btn-success" href="/lista">Lista Reservas</a>
                    </div>

                    <div id="btn_hacer_reserva" class="row">
                        <p id="p">Si quiere hacer una reserva, haga click en "Hacer Reserva"</p>
                        <a id="lista" class="btn btn-success" href="/formulario">Hacer Reserva</a>
                    </div>
                </div>
            </div>
            

        </div>
        <br>
    </body>
</html>