#cnt_form{
    margin-top: 40px;
    width: 50%;
    box-shadow: 2px 2px 7px black;
    background-color: #a00404;
}
body{
    background-color: #f4f4f4;
    
}
#h1_form{
    font-family: 'Alexandria', sans-serif;
}


