#body{
    background-color: #f6a700;
    background-size: 700px 595px;
    background-image: url(/static/img/cervezas_800x695.png);
    background-repeat: no-repeat;
    background-position: center -50%;
}
        


#formulario{
    background-color: coral;
    border-radius: 30px;
    opacity: .9;
}

#formulario:hover{
    opacity: 1.0;
}
#alerta{
    display:inline-block;
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
}
