#body{
    background-color: #f6a700;
   
}


#titulo{
    display:inline-block;
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
}
#tabla{
    background-color: coral;
    border-radius: 25px;
}
.table{
    padding: 20px 20px 20px 20px;
}