<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <!-- Incorporación de Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

        <meta charset="UTF-8">
        <title>Información</title>

        <!-- Barra de navegacion -->
        <nav class= "navbar navbar-dark bg-dark">
            <div class="container-fluid">
            <a class="navbar-brand">Encomienda App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/formulario/">Formulario</a>
                </div>
            </div>
            </div>
        </nav>
        <br>
    </head>

    <body>
        <!-- Contenedor Global -->
        <div class="container">
            <!-- Contenedor Informando Valores Nulos -->
            <div class="container" style="border: solid; border: radius 5px;">
                <h1><em><p class="text-center">Deben estar Todos los Campos Completos o Con los Caracteres Correspondientes, Revisa que Este Todo Ok.</p></em></h1>
            </div>
            <br>
            <!-- Imagen -->
            <div class="col">
                <p style="text-align: center; "><img src="{% static 'img/dudas.jpg' %}" alt="image" style="width:445px;height:350px;"></p>
            </div>
            <br>

            <!-- Input para Volver al Formulario -->
            <input type="button" class="btn btn-primary" style="margin-left: 500px;" value="Página anterior" onClick="history.go(-1);">

        </div>
        <br>
    </body>
</html>