<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <!-- Incorporación de Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

        <meta charset="UTF-8">
        <title>Reserva Actualizada</title>
        
        <link rel="stylesheet" href="{% static 'css/reserva_actualizada.css' %}">

        <!-- Barra de Navegacion -->
        <nav class="navbar navbar-expand-lg  bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" style="color: white;">Navbar scroll</a>
            </div>
        </nav>
        
    </head>

    <body id="body">
      <div id="alerta" class="alert alert-info" style="margin-left: 33%;">Reserva Actualizada. Para Volver al Inicio, haga Click en la imagen</div>
      <div class="container overflow-hidden text-center">
        <a href="/lista" class="btn"><img src="{% static 'img/kustman-logo-787x787.png' %}" style="width:50%;height:50%; "></a>
      </div>
    </body>
</html>